python-dateutil>=2.6.0
Werkzeug>=0.14,<1.0.0
jinja2<2.11.0,>=2.10.1
requests<3,>=2.20.0
click<8,>=6.7
marshmallow<2.20,>=2.18.0
six>=1.11.0
Flask>=1.0
apache-airflow
beautifulsoup4 
bs4
frozendict
geopy
ipython
kafka-python
matplotlib
py4j
pyelasticsearch
pymongo
scipy
selenium
sklearn
tabulate
tldextract
wikipedia
findspark
iso8601
notebook>=5.7.8
